<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{page.title}}-{{site.title}}</title>
        <link rel="stylesheet" href="../assets/prettify.css">
        <link rel="stylesheet" href="../assets/akecn.css">
    </head>
    <body>
        <header class="layout">
            <h1><a href="{{site.url}}/index.html">Akecn</a></h1>
        </header>
        <section id="container" class="layout">
            {{content}}
        </section>
        <footer class="layout">
            &copy;2012 copyright
        </footer>
        <script type="text/javascript" src="../assets/jquery-min.js"></script>
        <script type="text/javascript" src="../assets/prettify.js"></script>
        <script type="text/javascript" src="../assets/akecn.js"></script>
    </body>
</html>